In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
from config import db_password

In [3]:
allteam_df = pd.read_csv('Resources/allteam_csvs/allteam_df_updated.csv')

In [6]:
unique_teams = allteam_df['Base_Team'].unique()

In [7]:
column_names = ["ID", "Team"]
team_df = pd.DataFrame(columns = column_names)

In [8]:
team_df['ID'] = range(1,33,1)
team_df['Team'] = unique_teams
team_df

    ID        Team
0    1       49ers
1    2       Bears
2    3     Bengals
3    4       Bills
4    5     Broncos
5    6      Browns
6    7  Buccaneers
7    8   Cardinals
8    9    Chargers
9   10      Chiefs
10  11       Colts
11  12     Cowboys
12  13    Dolphins
13  14      Eagles
14  15     Falcons
15  16      Giants
16  17     Jaguars
17  18        Jets
18  19       Lions
19  20     Packers
20  21    Panthers
21  22    Patriots
22  23     Raiders
23  24        Rams
24  25      Ravens
25  26      Saints
26  27    Seahawks
27  28    Steelers
28  29      Texans
29  30      Titans
30  31     Vikings
31  32  Washington

In [9]:
coded_df = allteam_df.copy()

In [10]:
for team in unique_teams:
    id_df = team_df[team_df['Team'] == team]
    team_id = id_df['ID'].sum()
    coded_df['Base_Team'] = coded_df['Base_Team'].replace(team, team_id)
    coded_df['Opp'] = coded_df['Opp'].replace(team, team_id)

In [11]:
coded_df

,Year,Week,Day,Base_Team,Opp,Home,After_Bye,Wins Tally,PF Tally,PA Tally,...,TO_lost Tally,DPassY Tally,DRushY Tally,DTotYd Tally,TO_won Tally,Head_Coach,OC,DC,QB,Results
0,2020,1.0,Sun,1,8,1.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Kyle Shanahan,Kyle Shanahan,Robert Saleh,Jimmy Garoppolo,0.0
1,2020,2.0,Sun,1,18,0.0,0,0.0,20.0,24.0,...,0.0,224.0,180.0,404.0,1.0,Kyle Shanahan,Kyle Shanahan,Robert Saleh,Jimmy Garoppolo,1.0
2,2020,3.0,Sun,1,16,0.0,0,1.0,51.0,37.0,...,1.0,397.0,284.0,681.0,1.0,Kyle Shanahan,Kyle Shanahan,Robert Saleh,Jimmy Garoppolo,1.0
3,2020,4.0,Sun,1,14,1.0,0,2.0,87.0,46.0,...,1.0,562.0,350.0,912.0,4.0,Kyle Shanahan,Kyle Shanahan,Robert Saleh,Jimmy Garoppolo,0.0
4,2020,5.0,Sun,1,13,1.0,0,2.0,107.0,71.0,...,4.0,736.0,443.0,1179.0,5.0,Kyle Shanahan,Kyle Shanahan,Robert Saleh,Jimmy Garoppolo,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5297,2010,13.0,Sun,32,16,0.0,0,5.0,215.0,262.0,...,16.0,2963.0,1447.0,4410.0,21.0,Mike Shanahan,Kyle Shanahan,Jim Haslett,Donovan McNabb,0.0
5298,2010,14.0,Sun,32,7,1.0,0,5.0,222.0,293.0,...,22.0,3124.0,1644.0,4768.0,22.0,Mike Shanahan,Kyle Shanahan,Jim Haslett,Donovan McNabb,0.0
5299,2010,15.0,Sun,32,12,0.0,0,5.0,238.0,310.0,...,23.0,3386.0,1747.0,5133.0,24.0,Mike Shanahan,Kyle Shanahan,Jim Haslett,Donovan McNabb,0.0
5300,2010,16.0,Sun,32,17,0.0,0,5.0,268.0,343.0,...,26.0,3686.0,1881.0,5567.0,24.0,Mike Shanahan,Kyle Shanahan,Jim Haslett,Donovan McNabb,1.0
5301,2010,17.0,Sun,32,16,1.0,0,6.0,288.0,360.0,...,27.0,3944.0,1959.0,5903.0,26.0,Mike Shanahan,Kyle Shanahan,Jim Haslett,Donovan McNabb,0.0

In [12]:
# Get coded_df and team_df into SQL

db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/PickSys"
engine = create_engine(db_string)
coded_df.to_sql(name='coded_stats', con=engine, if_exists='append')
team_df.to_sql(name='team_IDs', con=engine, if_exists='append')